version: '3.8'

services:
  reef-spec-builder:
    image: anukulpandey/reef-chain-node
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "reef-node build-spec --chain testnet-new --disable-default-bootnode > /tmp/local-chain-spec.json"
    volumes:
      - ./output:/tmp
    restart: "no"
